<br>
<br>
<div class="row">
  <div class="col-sm-3"></div>
  <div class="col-sm-6 alert alert-info">
    <%= f.input :name, input_html: { class: 'col-sm-10' } %>
  </div>
</div>
<br>
<hr>
<br>
<div class="row">
  <%= f.input :token, as: :hidden,
              input_html: { value: 'Hxs3GzEHe_ttdoD522222222222222222222DB6' }%>
  <%= f.input :justification,
              hint: 'Informe de forma <b>clara e objetiva</b> o porque sua equipe deveria ser selecionada
              para participar do <b>Business Academy</b>.'.html_safe,
              input_html: { size: "130x15" } %>
</div>
<hr>

<fieldset class="members">
  <legend>Membros</legend>

  <%= f.simple_fields_for :students, collection: f.object.students do |student| %>
    <% if student.index == 0 || student.index == 1 %>
      <% if student.index == 0 %>
        <div class="row">
      <% end %>

      <%= render 'students/form', f: student %>
      <% if student.index == 1 %>
        </div>
      <% end %>
    <% end %>

    <% if student.index == 2 || student.index == 3 %>
      <% if student.index == 2 %>
        <div class="row">
      <% end %>

      <%= render 'students/form', f: student %>
      <% if student.index == 3 %>
        </div>
      <% end %>
    <% end %>

    <% if student.index == 4 %>
      <div class="row">
        <%= render 'students/form', f: student %>
      </div>
    <% end %>
  <% end %>
</fieldset>
<br>

<div class="alert alert-alert">
  <%= f.input :agree_with_terms,
              inline_label: "<a href='#{download_regulations_teams_path}'
              download>Download do Regulamento</a>".html_safe %>
</div>

<script type="text/javascript">
  $('.members input[type=checkbox]').on('click', function() {
    var elements = $('.members input[type=checkbox]');
    var el = $(this);

    for (i = 0; i < elements.length; i++) {
      elements[i].checked = false
    }
    el.prop('checked', true);
  });
</script>
