<%= info_box(I18n.t '.general_data') do %>
  <% attributes.each do |attribute| %>
    <% if resource.respond_to? real_attribute(attribute) %>
      <%= show_attribute(attribute) %>
    <% end %>
  <% end %>
<% end %>

<div class="row">
  <% resource.students.each do |student| %>
    <div class="col-sm-6">
      <%= info_box StudentKind.t student.kind do %>
        <% [:name,:phone_number,:period, :registration,
            :email, :leader].each do |attribute|%>
          <%= show_attribute(attribute, object: student) %>
        <% end %>
        <%="<b>#{localized_attribute(
          student.class, :matriculation_proof)}</b>: #{link_to 'Download', student.matriculation_proof.url, target:
                                                                                          '_blank'} "
           .html_safe%>
      <% end %>
    </div>
  <% end %>
</div>

<script type="text/javascript">
  function ChangeUrl(title, url) {
      var obj = { Title: title, Url: url };
      history.replaceState(obj, obj.Title, obj.Url);
  }
  ChangeUrl('',<%= resource.id.to_s %>)
</script>