<div class="page-header">
  <h1>
    <%= t "#{controller_name}.new", resource: singular, cascade: true %>
    <%= "( #{parent.to_s} )" if respond_to?(:parent) %>
  </h1>
</div>
<%= render 'form_wrapper' %>
