<% require = StudentKind.required.include?(f.object.kind) %>

<div class="col-sm-6">
  <%= info_box StudentKind.t f.object.kind do %>
    <%= f.input :name, required: require, input_html: { class: 'col-sm-8' } %>
    <%= f.input :email, required: require, input_html: { class: 'col-sm-8' } %>
    <%= f.input :registration, required: require %>
    <%= f.input :period, as: :select, collection: [1,2,3,4,5,6,7,8,9,'Graduado'],required: require %>
    <%= f.input :kind, as: :hidden, input_html: { value: f.object.kind} %>
    <%= f.input :phone_number, required: require, input_html: { class: 'mask-phone' } %>
    <%= f.input :matriculation_proof, required: require, as: :file %>
    <%= f.input :leader, required: require %>
  <% end %>
</div>
