
.span15 {
  width: 360px;
}

.span14 {
  width: 340px;
}

.span13 {
  width: 320px;
}

.span12 {
  width: 300px;
}

.span11 {
  width: 280px;
}

.span10 {
  width: 260px;
}

.span9 {
  width: 240px;
}

.span8 {
  width: 220px;
}

.span7 {
  width: 200px;
}

.span6 {
  width: 180px;
}

.span5 {
  width: 160px;
}

.span4 {
  width: 140px;
}

.span3 {
  width: 120px;
}

.span2 {
  width: 100px;
}

.span1 {
  width: 80px;
}

.span0 {
  width: 60px;
}
