<div class="row">
  <div class="col-xs-12">
    <div class="error-container">
      <div class="well">
        <h1 class="grey lighter smaller">
          <span class="blue bigger-125"><i class="icon-random"></i> 500</span>
          Desculpe, algo aconteceu de errado
        </h1>

        <hr>

        <div class="space"></div>

        <h3 class="lighter smaller">
          Mas estaremos trabalhando
          <i class="icon-wrench icon-animated-wrench bigger-125"></i>
          nisso!
        </h3>

        <div>
          <h4 class="lighter smaller">O que fazer ?</h4>
          <ul class="list-unstyled spaced inline bigger-110 margin-15">
            <li>
              <i class="icon-hand-right blue"></i>
              Nos informe sobre como exatamente esse erro ocorreu.
            </li>
          </ul>
        </div>

        <hr>
        <div class="space"></div>

        <div class="center">
          <a href="javascript:javascript:history.go(-1)" class="btn btn-grey">
            <i class="icon-arrow-left"></i>
            Voltar
          </a>

          <a href="/" class="btn btn-primary">
            <i class="icon-dashboard"></i>
            Principal
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
