<% if resource_class.filter_attributes %>
  <% filters.each do |filter, options| %>
    <span id="<%= filter %>" style="<%= 'display:none;' if hide_options?(filter, options) %>">
      <% if resource_class.date_attribute?(filter) %>
        <%= text_field 'search[filter]',
          filter,
          value: filter_value(filter),
          class: 'date-range-picker',
          style: 'width: 160px',
          placeholder: localized_attribute(resource_class, filter),
          data: {
            'original-title' => localized_attribute(resource_class, filter),
            placement: :top,
            rel: :tooltip
          } %>
      <% elsif checkbox?(options) %>
        <label class="middle">
          <%= hidden_field_tag "search[filter][#{filter}]", '0' %>
          <%= check_box_tag "search[filter][#{filter}]", '1', filter_value(filter) == '1', class: 'ace ace-checkbox-2' %>
          <span class="lbl"><%= options[0] %></span>
        </label>
      <% else %>
        <%= select 'search[filter]', filter, options, selected: filter_value(filter) %>
      <% end %>
    </span>

    <%= filter_link(options, filter) %> |
  <% end %>
<% end %>
