<% if request.xhr? %>
  <div class="modal-footer">
    <%= f.button :button, class: 'btn btn-info' %>
  </div>
<% else %>
  <div class="clearfix form-actions">
    <%= f.button :back %>
    <%= f.button :button, class: 'btn btn-info' %>
  </div>
<% end %>
