<div class="<%= 'row col-xs-12' unless request.xhr? %>">
  <%= simple_form_for resource.localized,
    url: resource.persisted? ? resource_path : collection_path,
    method: resource.persisted? ? :put : :post,
    remote: request.xhr? do |f| %>
    <%= hidden_field_tag :shortcut_register, params[:shortcut_register] if params[:shortcut_register] %>
    <%= render 'form_base_errors', f: f %>
    <%= render 'form', f: f %>
    <%= render 'form_buttons', f: f %>
  <% end %>
</div>
