<% if f.object.errors[:base].any? %>
  <div class="alert alert-alert">
    <button type="button" class="close" data-dismiss="alert"><i class="icon-remove"></i></button>
    <% f.object.errors[:base].each do |error| %>
      <p><%= error %></p>
    <% end %>
  </div>
<% end %>
