<% collection.each do |object| %>
  <tr id="<%= dom_id object %>">
    <% resource_class.list_attributes.each_with_index do |attribute, index| %>
      <td>
        <% if index == 0 && controller_has_action?(:show) && can?(:show, object) %>
          <%= render 'list_body_show_link', object: object, attribute: attribute %>
        <% else %>
          <%= formatted_attribute(object, attribute) %>
        <% end %>
      </td>
    <% end %>
    <td class='icons'>
      <%= icons { render 'list_icons', object: object } %>
    </td>
  </tr>
<% end %>

<script type="text/javascript">
  (function() {
    var html = $('.icons div').html();

    if (html != undefined && html.trim() == '') {
      $('.icons').remove();
    }
  })();
</script>
