<%= list_table do %>
  <div class='row row-search'>
    <div class='col-xs-12 col-lg-2'>
      <%= create_link if create? %>
    </div>
    <%= render partial: 'search' %>
  </div>

  <table class="table table-striped table-bordered table-hover">
    <thead>
      <%= render 'list_head' %>
    </thead>

    <tbody>
      <%= render 'list_body' %>
    </tbody>
  </table>

  <%= paginate %>
<% end %>
