<div class="modal-body">
  <div class="dataTables_wrapper">
    <div class="row-fluid">
      <div class="row row-search">
        <div class='col-xs-12 col-lg-1'>
          <%= create_link(opts: {target: :_blank}) if create? %>
        </div>
        <%= render partial: 'search' %>
      </div>

      <table id="<%= resource_class %>" class="table table-striped table-bordered table-hover dataTable">
        <%= render 'modal_content' %>
      </table>

      <div class="dataTables_paginate paging_bootstrap pagination">
        <%= remote_paginate %>
      </div>
    </div>
  </div>
</div>

<%= render 'modal_script' %>
