<script>
  $('.search_row').click(function () {
    var objectId = $(this).attr('id'),
        objectName = $(this).find('td')[0].innerHTML,
        input = $("#<%= params[:input_id] %>"),
        inputType = input.attr('id').replace('_id', '_type'),
        objectClass = $(this).closest('table').attr('id');

    // Nome que mostra no input
    input.val(objectName);
    // Preenche o ID do registro
    input.parent().find('input:hidden').val(objectId);
    input.parent().find('input:hidden').trigger('change');
    // Se existir o atributo com _type (para polimórfico) ele será preenchido
    input.closest('form').find('#' + inputType).val(objectClass);

    $('#modal-window').modal('hide');
  });
</script>
