<thead>
  <tr>
    <% attributes.each do |attribute| %>
      <th><%= localized_attribute(resource_class, attribute) %></th>
    <% end %>
  </tr>
</thead>

<tbody>
  <% collection.each do |record| %>
    <tr id="<%= record.id %>" class='search_row' style="cursor: pointer">
      <% attributes.each do |attribute| %>
        <% attribute = formatted_attribute(record, attribute) %>
        <td><%= value_by_field_type(attribute) %></td>
      <% end %>
    </tr>
  <% end %>
</tbody>
