<div class='dataTables_filter'>
  <% if resource_class.search_attributes || resource_class.filter_attributes %>
    <%= form_tag url_for(params: params), method: :get, remote: request.xhr?, class: 'form-search' do %>
      <% extract_params.each do |attr, value| %>
        <%= hidden_field_tag attr, value %>
      <% end %>

      <%= render 'filter' %>

      <% if resource_class.search_attributes %>
        <%= select :search, :attr,
          resource_class.search_attributes.collect { |a| [localized_attribute(resource_class, a), a] },
          selected: params[:search] ? params[:search][:attr] : nil %>

        <span class="input-icon input-icon-right input-remove">
          <%= text_field :search, :keyword, value: params[:search] ? params[:search][:keyword] : nil,
            autofocus: 'autofocus' %>
          <i class="icon-remove"></i>
        </span>
      <% end %>

      <button class="btn btn-sm btn-primary tooltip-search" id='search'
              data-placement='bottom' data-rel='tooltip'
              data-original-title='<%= t 'buttons.search' %>'>
        <i class="icon-search icon-on-right"></i>
      </button>
    <% end %>
  <% end %>
</div>
