<%= info_box(I18n.t '.general_data') do %>
  <% attributes.each do |attribute| %>
    <% if resource.respond_to? real_attribute(attribute) %>
      <%= show_attribute(attribute) %>
    <% end %>
  <% end %>
<% end %>
