(function () {
  <% klass = params[:klass].underscore %>
  <% klass += (klass == 'address' ? '' : '_address_attributes') %>

  <% if @values.blank? %>
    $("#<%= klass %>_street").val("<%= t "errors.messages.cep_not_found" %>");
    $("#<%= klass %>_district").val("");
    $("#<%= klass %>_city_id").val("");
    $("#<%= klass %>_complement").val("");
    $("#<%= klass %>_number").val("");
  <% else %>
    $("#<%= klass %>_street").val("<%= @values[:address] %>");
    $("#<%= klass %>_district").val("<%= @values[:neighborhood] %>");
    $("#<%= klass %>_city_id").val(<%= @values[:city_id] %>);
  <% end %>
})();
