<% if params[:shortcut_register] %>
  <% if resource.persisted? %>
    var input = $('select[id$=<%= resource.class.to_s.underscore + '_id' %>]');

    input.append('<%= escape_javascript(options_for_select([resource], resource)) %>;');
    closeModal();
  <% else %>
    <%= render 'crud/open_modal', view: 'new' %>
  <% end %>
<% else %>
  <% if @result %>
    closeModal();
    location.reload();
  <% else %>
    <%= render 'crud/open_modal', view: 'new' %>
  <% end %>
<% end %>
