(function() {
  <% options = collection.map {|c| [c.send(params[:attr_name] || 'name'), c.id]}.insert(0, ['', '']) %>

  var select = $("#<%= params[:select_id] %>"),
      value = select.val();

  select.html('<%= escape_javascript(options_for_select(options)) %>;');
  select.val(value);
})();
