<div class="page-header">
  <h1>
    <%= plural %>
    <% if resource_class.respond_to?(:active_filter) %>
      <small>
        <%= link_to (t 'active'), collection_path, class: ('badge badge-info' if params[:active].blank?) %> |
        <%= link_to (t 'inactive'), collection_path(active: false), class: ('badge badge-info' unless params[:active].blank?) %>
      </small>
    <% end %>
  </h1>
</div>

<%= render 'list' %>
