<div class="page-header position-relative">
  <h1>
    <%= singular + " (#{resource.to_s})" %>
    <small>
      <i class="icon-double-angle-right"></i>
      <%= (I18n.t '.explain_show') %>
    </small>
  </h1>
</div>

<%= render 'show' %>

<%= render 'show_buttons' %>
