<h4 class="header blue lighter bigger">
  <%=t('login.enter_your_details') %>
</h4>

<div class="space-6"></div>

<% unless alert.blank? %>
  <div class="alert alert-warning">
    <%= alert %>
  </div>
<% end %>
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <fieldset>
    <label>
      <% t_login = t('activerecord.attributes.user.login') %>
      <span class="block input-icon input-icon-right">
        <%= f.text_field :login, required: true,
                         value: params[:user] ? params[:user][:login] : "#{t_login}",
                         placeholder: "#{t_login}", autofocus: 'autofocus',
                         onfocus: "if (value=='#{t_login}') {value='';}",
                         onblur: "if (value=='') {value='#{t_login}'}",
                         size: 33
                         %>
        <i class="icon-user"></i>
      </span>
    </label>

    <label>
      <% t_password = t('activerecord.attributes.user.password') %>

      <span class="block input-icon input-icon-right">
        <%= f.text_field :password, required: true, value: "#{t_password}",
                         onfocus: "if (value=='#{t_password}') {this.type='password'; value=''}",
                         onblur: "if (value=='') {value='#{t_password}'; this.type='text'}",
                         size: 33 %><br>
        <i class="icon-lock"></i>
      </span>
    </label>

    <div class="space"></div>

    <div class="row-fluid">
      <%= f.submit 'Entrar', class: 'btn btn-small btn-primary' %>
    </div>
  </fieldset>
<% end %>
