<h2>Inscrição realizada com sucesso!!!</h2>
E-mail enviado pelo Business Academy
<br/>
<br/>
Time:
<b>
  <span class="color-email">
    <%= @team.name.to_s %>
  </span>
</b>
<br/>
Líder:
<b>
  <span class="color-email">
    <%= @team.leader.to_s %>
  </span>
</b>
<br/>
<br/>
<hr>
<hr>
<h3>Integrantes</h3>
<br/>
<% @team.students.map do |student| %>
  Nome:
  <b>
  <span class="color-email">
    <%= student.name.to_s %>
  </span>
  </b>
  <br/>
  Cargo:
  <b>
  <span class="color-email">
    <%= StudentKind.t student.kind %>
  </span>
  </b>
  <br/>
  Período:
  <b>
  <span class="color-email">
    <%= student.period %>
  </span>
  </b>
  <br/>
  <hr>
<% end %>
<br/>
<table cellpadding="0" cellspacing="0" border="0" width="900">
  <tr>
    <td>
      <div style="font-family: Segoe UI, Arial, Helvetica, sans-serif; font-size: 14px; display: block; clear: both; text-align: justify; color: #737373;">
        <b>Alerta</b>
        <br/>
        A inscrição será avaliada, caso o formulário não estiver preenchido corretamente o time poderá ter a
        inscrição cancelada.
      </div>
    </td>
  </tr>
</table>
