/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *= require 'ace/spans'
 *= require 'ace/bootstrap-3.0'
 *= require 'ace/font-awesome'
 *= require 'ace/ace-fonts'
 *= require 'ace/ace-1.2'
 *= require 'ace/ace-skins-1.2'
 *= require 'ace/datepicker'
 *= require 'ace/bootstrap-datetimepicker'
 *= require 'ace/daterangepicker'
 *= require_self
 *= require 'login'
 */

.loading {
  background-color: #000000;
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1090;
  opacity: 0.5;
}

.logo {
  width: 150px;
}

.modal form {
  margin: 0;
}

.col-sm-reset {
  width: auto;
  padding-left: 5px;
  padding-right: 0;
  float: none;
}

.form-add-fields {
  background-color: #F5F5F5;
  border-top: 1px solid #E5E5E5;
  display: block;
  margin-bottom: 20px;
  padding: 10px 20px 10px;
}

.remove_fields {
  text-decoration: none !important;
}

a .icon-expand-alt {
  padding: 0px 0px 0px 5px;
  cursor: auto;
  text-decoration: none;
  vertical-align: middle;
}

.table-center th, table-center tr {
  text-align: center !important;
}

.div-label-width-300 div label {
  width: 300px !important;
}

.div-div-width-margin-left div div {
  width: 50px;
  margin-left: 60px;
}

.display-inline-block {
  display: inline-block !important;
}

.pill-top {
  padding-bottom: 10px;
  margin: 0;
}

.row-search {
  padding-left: 5px;
}

.icon-bank {
  max-height: 30px;
  max-width: 23px;
}

.icon-bank-show {
  max-height: 160px;
  max-width: 160px;
}

/* span error */
span.error {
  color: red;
  padding-left: 5px;
}

.form-search button {
  margin-right: 5px
}

.red-box-9 {
  width: 5px;
  height: 5px;
  border: 9px solid;
  border-color: #f00;
}

.red-box-text {
  margin-left: 10px;
  align-self: baseline;
  font-weight: bold;
}

a {
  color: #000;
  text-decoration: none;
  }

a:hover
{
  color: #737373;
  text-decoration:none;
  cursor:pointer;
  }