<% flash.each do |key, value| %>
  <div class="alert alert-block alert-<%= key %>">
    <button type="button" class="close" data-dismiss="alert"><i class="icon-remove"></i></button>
    <p><%= raw(value) %></p>
  </div>
<% end %>
