<ul class="nav ace-nav">
  <li class="light-blue">
    <ul id="user_menu" class="user-menu pull-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">
      <li><%= link_to raw("<i class='icon-user'></i> #{t 'profile'}"), edit_user_registration_path %></li>
      <li class="divider"></li>
      <li><%= link_to raw("<i class='icon-off'></i> #{t 'logout'}"), destroy_user_session_path, { method: :delete } %></li>
    </ul>
  </li>
</ul>
