<div id="sidebar" class="sidebar <%= cookies[:menu_state] %>">

  <div id="sidebar-shortcuts" class='sidebar-shortcuts'>
    <div id="sidebar-shortcuts-large" class='sidebar-shortcuts-large'>
      <button class="btn btn-small btn-success"><i class="icon-signal"></i></button>
      <button class="btn btn-small btn-info"><i class="icon-pencil"></i></button>
      <button class="btn btn-small btn-warning"><i class="icon-group"></i></button>
      <button class="btn btn-small btn-danger"><i class="icon-cogs"></i></button>
    </div>
    <div id="sidebar-shortcuts-mini" class='sidebar-shortcuts-mini'>
      <span class="btn btn-success"></span>
      <span class="btn btn-info"></span>
      <span class="btn btn-warning"></span>
      <span class="btn btn-danger"></span>
    </div>
  </div>

  <ul class="nav nav-list">
    <li id='menu_sing_up'>
      <a href="<%= new_team_teams_path %>">
        <i class="menu-icon icon-pencil"></i>
        <span class='menu-text'>Cadastre sua equipe !!!</span>
      </a>
      <ul class="submenu">
      </ul>
    </li>
  </ul>

  <ul class="nav nav-list">
    <li id='menu_talk_with_us'>
      <a href="#">
        <i class="menu-icon icon-comments"></i>
        <span class='menu-text'>Fale conosco</span>
      </a>
      <ul class="submenu">
      </ul>
    </li>
  </ul>

  <div class="sidebar-collapse" id="sidebar-collapse">
    <i class="icon-double-angle-left" data-icon1="icon-double-angle-left" data-icon2="icon-double-angle-right"></i>
  </div>
</div>
