<div class="bootbox modal in" id="modal-window" tabindex='-1'>
  <div class='modal-dialog'>
    <div class='modal-content' id="modal-content">
      <div class="modal-body">Hello world!</div>
      <div class="modal-footer">
        <a class="btn null">Cancel</a>
        <a class="btn btn-primary">OK</a>
      </div>
    </div>
  </div>
</div>
