<li class="grey">
  <a data-toggle="dropdown" class="dropdown-toggle" href="#" id="notifications">
    <i class="icon-bell-alt"></i>
    <% if @not_seen_notifications > 0 %>
      <span class="badge badge-important"><%= @not_seen_notifications %></span>
    <% end %>
  </a>

  <ul class="pull-right dropdown-navbar navbar-pink dropdown-menu dropdown-caret dropdown-close">
    <li class="dropdown-header">
      <i class="icon-warning-sign"></i>
      Notificações
    </li>

    <% @notifications.each do |notification| %>
      <li>
        <a href="<%= notification_url(notification) %>">
        <span class="msg-body">
          <span class="msg-title">
            <%= raw("<i class='icon-remove-sign red'> Erro:</i>") if notification.error %>
            <%= notification.abbreviated_message %>
          </span>
        </span>
        </a>
      </li>
    <% end %>

    <li>
      <a href="#">
        <%= link_to raw("Ver todas <i class='icon-arrow-right'></i>"),
          general_notifications_path %>
      </a>
    </li>
  </ul>
</li>
