<!DOCTYPE html>
<html>
<head>
  <title>Business Academy</title>
  <script>
    var environment = '<%= Rails.env %>',
        current_menu = '<%= menu_id(:menu) %>',
        current_submenu = '<%= menu_id(:sub) %>';
  </script>

  <%= stylesheet_link_tag :application %>
  <%= javascript_include_tag 'base/jquery-1.9.1' %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag asset_path('logo.png') %>

</head>
<body class='skin-1'>
  <div class="navbar navbar-default" id='navbar'>
    <div class="navbar-container" id='navbar-container'>
      <div class="navbar-header pull-left">
        <%= link_to 'Business Academy', root_path, class: 'navbar-brand' %>
      </div>
      <div class="navbar-header pull-right" role='navigation'>
        <%= render 'layouts/menu_user_settings' %>
      </div>
    </div>
  </div>

  <div class="main-container" id="main-container">
    <div class='main-container-inner'>
      <a class="menu-toggler" id="menu-toggler" href="#"><span class="menu-text"></span></a>
      <%= render 'layouts/menu_left' %>

      <div class="main-content">
        <%= render 'layouts/status_bar_top' %>
        <div class="page-content">
          <%= render 'layouts/flash_messages' %>
          <%= yield %>
        </div>
      </div>
    </div>
  </div>

  <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
    <i class="icon-double-angle-up icon-only bigger-110"></i>
  </a>

  <%= render 'layouts/modal' %>
  <%= javascript_include_tag 'application' %>
  <%= javascript_include_tag controller_name if controller_asset? %>
</body>
</html>
