<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>Business Academy</title>
  <style>
    a {
      color: #394c65 !important;
    }
    a:hover {
      color: #737373 !important;;
    }
    a:visited {
      color: #405165 !important;;
    }
    .color-email {
      color: #405165 !important;;
    }
  </style>
</head>
<body style="width: 100%;
  background-image: url('http://mkt.redetempo.com.br/telegestor/feeds/bg-tempo.png');
  background-repeat: no-repeat; background-size:cover; ">
<div style="margin: 0 auto; width: 900px">
  <table width="100%" height="100%" border="0" cellpadding="0" cellspacing="0"
         style="padding:30px;">
    <tr>
      <td align="left">
        <img src="<%= attachments['logo.png'].url %>" width="250"
             height="126" border="0" style=" display:block;" />
        <br/>
        <br/>
      </td>
    </tr>
    <tr>
      <td>
        <div style="font-family: Segoe UI, Arial, Helvetica, sans-serif;
          font-size: 14px; display: block; clear: both; text-align: justify; color: #737373;">
          <%= yield %>
        </div>
      </td>
    </tr>
    <br/>
    <br/>
    <br/>
  </table>
</div>
</body>
</html>
