<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Probitate - Login</title>
    <%= stylesheet_link_tag :application %>
    <%= csrf_meta_tags %>
  </head>

  <body class="login-layout back_login">
    <div class="container-fluid" id="main-container">
      <div id="main-content">
        <div class="row-fluid">
          <div class="login-container">
            <div class="row-fluid">
              <div class="center">
                <h1>
                  <div class='inline-block titles'>
                    <span class='title-1'>Solutions</span><br>
                  </div>
                </h1>
              </div>
            </div>

            <div class="space-6"></div>

            <div class="row-fluid">
              <div class="position-relative">
                <div id="login-box" class="visible widget-box no-border">
                  <div class="widget-body">
                    <div class="widget-main"><%= yield %></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
